@media (min-width: 1400px) {
  .cover-text {
    margin-top: 450px;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .navbar-brand img {
    width: 35%;
  }
  .cover-text {
    margin-top: 230px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (min-width: 790px) and (max-width: 991px) {
  .cover-text {
    margin-top: 150px;
  }
}

@media (min-width: 576px) and (max-width: 789px) {
  .cover-text {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .cover-text {
    margin-top: 0px;
  }
  .cover-title {
    font-size: 100%;
  }
  .img_services {
    width: 300px;
    height: auto;
  }
}

/*BODY*/

body {
  font-size: 1.2em;
  background-color: #fafafa;
  color: rgb(54, 54, 54);
}

/*NAVBAR*/

.navbar-brand img {
  padding-left: 2%;
  float: left;
  height: auto;
  width: 30%;
}

.navbar {
  background-image: url(../img/fond_bitume.jpg);
  display: flex;
  position: fixed;
}

.nav-item {
  padding-left: 20px;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px rgba(1, 1, 0, 0.9);
  font-family: "Sintony", sans-serif;
}

/*--Toggler--*/

.navbar-toggler {
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  color: var(--bs-navbar-color);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler {
  border: 0;
  margin-top: 10px;
}

.navbar-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse {
  padding-left: 10%;
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
}

/*HEADER*/

header {
  width: 100%;
  height: auto;
}

header img {
  width: 100%;
}

.cover-text {
  color: #fafafa;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  top: 20%;
  transform: translate(-50%, 0);
}

/*MAIN*/

main {
  font-family: "Nunito", sans-serif;
  background-color: #fafafa;
  color: rgb(54, 54, 54);
}

#usedCars-block {
  background-color: rgb(201, 203, 204);
}

.card-img-top {
  padding-top: 10px;
}

#button-showVehicles,
#button-showServices,
#button-sendReview {
  background-color: rgb(168, 3, 3);
  color: #fafafa;
}

#button-showVehicles:hover,
#button-showServices:hover,
#button-sendReview:hover {
  background-color: #0a9410;
  color: #fafafa;
}

#button-showServices {
  margin-top: 3%;
}

#button-sendReview {
  margin-bottom: 10px;
}

/*FOOTER*/

footer {
  font-family: "Nunito", sans-serif;
  color: rgb(54, 54, 54);
}

#footer-cont {
  background-color: rgb(201, 203, 204);
}

#workshop-title,
#adress-title {
  padding-top: 15px;
}

#copyright-cont {
  height: 60px;
  width: 100%;
  background-color: rgb(54, 54, 54);
  color: #fafafa;
}
